body
{
	font-size:16px;
	color: yellow;
	background-color:orange;

}

#header-nav
{
	background-color: #61122f;
	border-radius:0;
	border:0;

}


.navbar-brand
{
	font-size:4.0vw;
	color:orange;
}
.navbar-toggler{
	background-color:orange;
}
.container h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.container h3{
	text-align: center;
	margin-top:10px;
	margin-bottom:15px;
}
.row div div
{
	background-color:#61122f;
	border: 10px solid black;
	overflow:auto;
	height:400px;

}

/*mediun devices-tablets as per instructions */
@media(min-width:576px) and (max-width:767px)
{
   .col-sm-12{
   	margin-top: 30px;
   }
}

/*large devices-pc's as per instructions */
@media(min-width: 768px)
{
 .col-md-4{
 	
 	height:400px;
 	

          }
}

/*small devices-phone as per instructions*/
@media(max-widht:575px){
	.col-xs-12
	{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	

}